<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>
<body>
    <h1>Bem vindo ao site</h1>
    
    <form method="post">
        <label for="username">Introduz o teu nome:</label>
        <input type="text" id="username" name="username" required>
        <button type="submit">Enviar</button>
    </form>

    {% if username %}
        <h2>Olá, {{ username }}!</h2>
    {% endif %}

    <a href="/img">Ir para Galeria</a> | 
    <a href="/about">Sobre</a> | 
    <a href="/paint">Quadro de desenho</a>
</body>
</html>
